@font-face {

    font-family: Abdo-Master;

    src: url(../fonts/alfont_com_AlFont_com_Abdo-Master-Regular.otf);
}

@font-face {

    font-family: Abdo-Master-bold;

    src: url(../fonts/fonnts.com-Abdo_Master-Bold.ttf);
}

:root {
    --primary-color: #AD976E;

    --secondary-color: #2C3444;

    --font-family-Regular: 'Abdo-Master';
    --font-family-bold: 'Abdo-Master-bold';

}

body {
    height: 100vh;
    background: var(--secondary-color);
    /* استخدام خط عربي، يمكنك اختيار أي خط عربي تفضله */
    direction: rtl;
    /* جعل الاتجاه من اليمين إلى اليسار */
    text-align: right;
    /* محاذاة النص إلى اليمين */
}

/* 
.container {
    width: 90% !important
} */

.header {
    background: var(--secondary-color);
    position: sticky;
    top: 0;
    background: var(--secondary-color);
}

/* nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
} */

.logo {
    width: 90px;
    height: 91px;
    gap: 0px;
    opacity: 0px;

}

.navbar {
    border: none;
    background: var(--secondary-color);
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: var(--secondary-color);
}

.nav-item {
    font-family: var(--font-family-bold);
    font-size: 24px;
    font-weight: 400;
    line-height: 44.4px;
    background: var(--secondary-color);
    color: var(--primary-color);

}

.navbar-toggler span {
    font-size: 30px;
    font-weight: 600;

    color: var(--primary-color);
}

a.nav-link {
    font-family: var(--font-family-bold);
    font-size: 24px;
    font-weight: 400;
    line-height: 44.4px;

    color: var(--primary-color);
    position: relative;
    transition: 0.5s;
    color: var(--primary-color);
}

.nav-link:hover {
    font-family: var(--font-family-bold);
    font-size: 24px;
    font-weight: 600;
    line-height: 44.4px;
    color: var(--primary-color);
    position: relative;
    transition: 0.5s;

}

.nav-link::after {
    content: "";
    width: 0px;
    margin-top: 15px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 10px;
    top: 80%;
}

.nav-link:hover::after {
    width: 80%;
    transition: 0.5s;
}

.navbar-toggler-icon {
    color: var(--primary-color);
}

.main {
    background: #FDFBF0;
    padding: 50px;
    /* height: 60vh; */
    border-radius: 20px;
    margin-top: 60px;
}

.main h1 {
    margin-top: 20 px;
    color: #2C3444;
    font-family: var(--font-family-bold);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main p {
    color: #2C3444;
    text-align: center;
    font-family: var(--font-family-Regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.img1 {
    width: 200px;
    height: 281px;
}

.img2 {

    width: 150px;
    height: 210px;
    opacity: 0.6;

}

.img3 {

    width: 100px;
    height: 135px;
    opacity: 0.4;

}


@media (max-width: 767px) {
    .main {
        background: #FDFBF0;
        padding: 20px;
        height: auto;
        margin-top: 10px;
        /* padding-bottom: 10px; */
        */
    }

    .container {
        padding-bottom: 32px;
    }

    .main p {
        color: #2C3444;
        text-align: center;
        font-family: var(--font-family-Regular);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
    }

    .main h1 {
        margin-top: 20 px;
        color: #2C3444;
        font-family: var(--font-family-bold);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }



}